{
      box-sizing: border-box;
    }
    body {
      font-family: Calibri;
    }

    /* Style the footer */
    footer {
      background-color: #777;
      padding: 10px;
      text-align: center;
      color: white;
    }

p   {
        font-family: Calibri;
    }

/*Menu*/

  * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }


 /* Menú desplegable (Inicio, Temas, Recursos, Autor */

        .menu-area a:hover {
            background: #3e5f8a;
            color: #FFFFFF 
        }
       .menu-area a {
            display: flex;
            align-items: center;
            justify-content: center;
           color: #FFFFFF;
           background: black;
           height: 50px;
           text-decoration: none;
        }
       
          .menu-area ul {
          list-style: none;
          display: flex;
        }

        .menu-area li {
            position: relative;
            width: 100%;
            text-align: center;
        }

        .menu-area li:hover .dropdown-1 li {
            top: 0;
            display: block;
        }

        .dropdown-1 li {
            display: none;
            position: relative;
        }

        .dropdown-1 {
            position: absolute;
            display: flex;
            flex-direction: column;
            width: 100%;
        }

        .dropdown-1 li:hover {
            display: block;
        }
